/*animation*/
section.hero{
    margin-top: 3rem;
}
section.hero .animation{
    width: 100%;
    translate: 70px 55px ;
}
@media (max-width: 1100px) {
    section.hero .animation{
        display: none;
    }
}
section.hero .parent-avatar.flex{
    align-items: end;
}
section.hero .left-section{
    flex-grow: 1;
}
section.hero .avatar{
    width: 88px;
    border-radius: 50%;
    border: 1px solid darkblue;
    padding: 2px;
    box-shadow:2px 2px 40px rgb(226, 198, 198) inset ;
    margin-right: 0.6rem;
}
section.hero .icon-verified{
    color: var(--blue);
    font-size: 1.1rem;
    margin-bottom: 0.3rem ;
}
/*h1*/
section.hero h1.title{
    font-size: 2.85rem;
    line-height: 3rem;
    margin: 24px 0 ;
    color: var(--title);
}
section.hero p.sub-title{
    color: var(--subtitle);
    font-size: 0.9rem;
    line-height: 1.65rem;
    margin-bottom: 32px;
}
section.hero .icons{
   font-size: 1.3rem;
   gap: 1.5rem ;
   color: var(--subtitle);
   
}
section.hero .icons .icon:hover{
    font-size: 1.4rem;
    transition: 1.3s;
    cursor: pointer;
    color: #d4d4d8;
 }
